<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js'></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app='try'>
	<div class='whole-container'>
		<h1>TO DO LIST</h1>
		<div ng-controller='Controller as ctrl'>			
			<div class='ul-container'>
				<div class='form-li-container'>
					<form ng-Submit='addtask()'>

						<input type="text" ng-model='taskinput' placeholder='ADD TASK' required>
						<input type="submit">
			     	</form>
					<ul class='list' ng-repeat = 'task in tasklist'>
						<li class='task' ng-class="{'completed-task':task.done}">	
							<div class='edit-mode' ng-show='task.edit'>
								<input type="text" ng-model='task.desc' placeholder='Update current data'>
								<a ng-click="task.edit=false"><button>Save</button></a>
							</div>

							<div class='show-mode' ng-show='!task.edit'>
									<input class='actions' type="checkbox" ng-model='task.done'>
									<span ng-bind='task.task'></span>
									<div ng-class="{'hide-actions':task.done}">
									<a class='actions' ng-click='task.edit=true'><button>Edit</button></a>
									<a class='actions' ng-click="delete($index)"><button>Delete</button></a>
									</div>
							</div>
						</li>
						<hr>
					</ul>
					<div class='actions-container'>
						<a ng-click="deleteall()"><button>Delete All</button></a>
						<a ng-click="deletefuck()"><button>Delete Completed Task</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src='niga.js'></script>
</html>